@model Instrumusicals.Models.Store

@{
    ViewData["Title"] = "Details";
}
<div class="row text-center text-light justify-content-center">
    <div class="w-50">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <a class="text-secondary" asp-action="Index">All Stores</a>
        <hr />
    </div>
</div>
<div class="row text-center text-light justify-content-center">
    <div class="w-75">
        <table class="table text-center text-light">
            <thead>
                <tr>
                        <th></th>
                    <th class="text-info">@Html.DisplayNameFor(model => model.Address)</th>
                    @if (Context != null && Context.User != null && Context.User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                        <th></th>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                    @if (Context != null && Context.User != null && Context.User.IsInRole("Admin"))
                    { 
                        <td>
                            <a class="text-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                            <a class="text-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        </td>
                    }
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
