@model IEnumerable<Instrumusicals.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<div class="row text-center justify-content-center m-5">
    <div class="w-50">
        <h3>Instrumusicals' Stores</h3>
    </div>

    <table class="table text-center text-light m-5">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lng)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lng)
                    </td>
                    <td>
                        <a class="text-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="text-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create">open a new store</a>
</div>