@model Instrumusicals.Models.Instrument

@{ ViewData["Title"] = "Details"; }

<div class="modal text-center" tabindex="-1" role="dialog" style="background-color: rgba(255,255,255,0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 id="moadlHeader" class="modal-title text-light text-center">Modal title</h5>
            </div>
            <div class="modal-body text-light">
                <p id="modalMessage"></p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" id="modalClose" class="btn btn-success w-75">OK!</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="text-center" id="header">
        <h1  style="text-shadow: 2px 2px 20px #00FFFF;">@Html.DisplayFor(model => model.Name)</h1>
        <h5>@Html.DisplayFor(model => model.Description)</h5>

        <div class="text-center mt-3" id="ctrlButtons">
            <a class="text-light" asp-action="Index">Instruments</a> |
            <a class="text-light" asp-action="Index">Homepage</a>

            @if (Context != null && Context.User != null && Context.User.Identity.Name != null && Context.User.IsInRole("Admin"))
            {
                <span> | </span>
                <a class="text-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <span> | </span>
                <a class="text-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
        </div>
        <hr />
        @if (Model.Image != null)
        {
            string img = Convert.ToBase64String(Model.Image);
            <img src="data:image/png;base64,@img" style="margin:10px; border:5px solid white; width:500px; border-radius:30px" />
        }
    </div>
    <hr />
    <table class="table text-center text-light">
        <thead>
            <tr>
                <th>
                    Brand
                </th>
                <th>
                    Category
                </th>
                <th>
                    Price
                </th>
                @if (Context != null && Context.User != null && Context.User != null && Context.User.IsInRole("Admin"))
                {
                    <th class="text-danger">Quantity</th>
                    <th class="text-danger">Sold</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Brand)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Price)$
                </td>
                @if (Context != null && Context.User != null && Context.User.IsInRole("Admin"))
                {
                    <td>@Html.DisplayFor(model => model.Quantity)</td>

                    <td>@Html.DisplayFor(model => model.Sold)</td>
                }
            </tr>
        </tbody>
    </table>
</div>

<hr />

<div class="text-center justify-content-between">
    <a asp-action="Create" asp-controller="Reviews" asp-route-inst="@Model.Id" class="btn btn-primary m-1 w-25">
        Add a Review (@if (ViewBag.Reviews != null)
        {@ViewBag.Reviews.Count})
    </a>
    @if (ViewBag.UserId != null)
    {
        <div class="d-inline m-5 w-25">
            <div id="cartLoader" class="spinner-border d-none text-light" role="status"></div>
        </div>
        <button type="button" class="btn btn-success w-25 m-1" onclick="addToCart(@Model.Id, @ViewBag.UserId)">
            Add to Cart
        </button>
    }
</div>

<hr />
@if (ViewBag.Reviews != null)
{
    foreach (var item in ViewBag.Reviews)
    {
        <div class="card bg-dark border-2 border-info mb-3 w-100">
            <div class="card-header bg-dark text-light w-100">
                <h5 class="card-title text-info d-inline"><cite>@item.User.LastName @item.User.FirstName</cite></h5>
                @if ((ViewBag.UserId != null && ViewBag.UserId == item.UserId) || Context.User.IsInRole("Admin"))
                {
                    <div class="d-inline m-2">
                        <a type="button" asp-action="Edit" asp-controller="Reviews" asp-route-id="@item.Id" class="btn btn-warning text-warning bg-dark">Edit</a>
                        <a type="button" asp-action="Delete" asp-controller="Reviews" asp-route-id="@item.Id" class="btn btn-danger text-danger bg-dark">Delete</a>
                    </div>
                }
                <span class="w-25 d-inline float-end">Last Updated: @item.LastUpdate.ToString("dd/MM/yyyy HH:mm")</span>
            </div>
            <div class="card-body bg-secondary text-light">
                <p class="card-text">@item.Content</p>
                <hr />
            </div>
            <footer class="blockquote-footer bg-dark text-secondary">
                @item.Instrument.Name, @item.Instrument.Category.Name
                <span class="float-end bg-dark">Created: @item.Created.ToString("dd/MM/yyyy") &nbsp;</span>
            </footer>
        </div>
    }
}

@section Scripts{
    <script src="~/js/Instruments/AddToCart.js"></script>
}