@model Instrumusicals.Models.Instrument

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (Context != null && Context.User != null && Context.User.Identity.Name != null && Context.User.IsInRole("Admin")) 
        { 
            <dt class="col-sm-2 text-danger">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2 text-danger">
                @Html.DisplayNameFor(model => model.Sold)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sold)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)$
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-2">
            @if (Model.Image != null)
            {
                string img = Convert.ToBase64String(Model.Image);
                <img src="data:image/png;base64,@img" style="width:500px; border-radius:30px" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Index">Back to Homepage</a>

    <br />

    @if (Context != null && Context.User != null && Context.User.Identity.Name != null && Context.User.IsInRole("Admin"))
    {
        <span>Admin's options: </span>
        <a class="text-danger" asp-action="Edit" asp-route-id="@Model.Id">Edit</a><span> or </span> 
        <a class="text-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a> 

    }
</div>
