@model IEnumerable<Instrumusicals.Models.Instrument>

@{
    ViewData["Title"] = "Instuments";
}

<div class="row text-center justify-content-center">
    <div class="w-50">
        <h4>
            <div id="searchLoader" class="spinner-border p-2 text-success d-none" role="status"></div>
            Search Instruments
        </h4>        
    </div>
</div>

<div class="align-middle" style="display:flex; justify-content:space-around; ">
    <input id="nameInput" name="Name" placeholder="Name" class="m-1 form-control text-center text-light bg-dark border border-primary" style="border-radius:100px;" autocomplete="off" />
    <select id="categoryInput" name="Category" placeholder="Category" class="m-1 form-control text-center text-light bg-dark border border-primary" style="border-radius:100px;" asp-items="@ViewBag.Categories" ></select>
    <select id="brandInput" name="Brand" placeholder="Brand" class="m-1 form-control text-center text-light bg-dark border border-primary" style="border-radius:100px;" asp-items="@ViewBag.Brands" ></select>
    <input id="lPriceInput" name="lPrice" placeholder="From $" class="m-1 form-control text-center text-light bg-dark border border-primary" style="border-radius:100px;" autocomplete="off" />
    <input id="uPriceInput" name="uPrice" placeholder="To $" class="m-1 form-control text-center text-light bg-dark border border-primary" style="border-radius:100px;" autocomplete="off" />
    <button id="btnSearch" class="btn text-primary m-1" style="border-radius:100px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" >
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
        <i class="fas fa-camera fa-4x"></i>
    </button>
    <button id="btnClear" class="btn btn-secondary m-1 btn-sm bg-dark text-danger" style="border-radius:100px;">Clear</button>
    @if (Context.User != null && Context.User.IsInRole("Admin"))
    {<a class="btn border border-success text-success m-1 btn-sm " asp-action="Create" style="border-radius:100px;">New</a>}
</div>
<hr />
<div class="row justify-content-center text-center">
    <div class="w-75">
        <table class="table text-center text-light">
            <thead>
                <tr>
                    <th class="text-info">@Html.DisplayNameFor(model => model.Name)</th>
                    <th class="text-info">@Html.DisplayNameFor(model => model.Brand)</th>
                    <th class="text-info">@Html.DisplayNameFor(model => model.Description)</th>
                    <th class="text-info">@Html.DisplayNameFor(model => model.Price)</th>
                    <th class="text-info">@Html.DisplayNameFor(model => model.Image)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Brand)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="align-middle">@String.Format("{0:n}", item.Price)<span>$</span></td>
                        <td class="align-middle">
                            @if (item.Image != null)
                            {
                                string img = Convert.ToBase64String(item.Image);
                                <img src="data:image/png;base64,@img" style="height:100px; width:100px; border-radius:100px" />
                            }
                            else
                            { <span class="text-danger">No image yet.</span>}
                        </td>
                        <td class="align-middle"><a class="text-warning" asp-action="Details" asp-route-id="@item.Id">ABOUT</a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/template" id="rowTemplate">

    <tr>
        <td class="align-middle text-warnig">
            ${name}
        </td>
        <td class="align-middle text-warnig">
            ${brand}
        </td>
        <td class="align-middle text-warnig">
            ${description}
        </td>
        <td class="align-middle text-warnig">
            ${price}$
        </td>
        <td class="align-middle text-warnig">
            ${image}
        </td>
        <td class="align-middle">
            <a class="text-warning" href="/Instruments/Details/${id}">ABOUT</a>
        </td>
    </tr>
</script>

@section Scripts{
    <script src="~/js/Instruments/SearchInstruments.js"></script>
}
