@model Instrumusicals.Models.User

@{
    ViewData["Title"] = "Admin's Panel";

}

<head>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            var data = [];
            var names = [];

            @{Dictionary<string, int> dict = ViewData["data"] as Dictionary<string, int>; }
            @foreach (var a in dict)
            {
                @:data.push(@a.Value);
                @:names.push("@a.Key");
            }

            var colors = ["#FF5733", "#5EFAB1", "#5E65FA"];
            var radius = 200;
            var colorScale = d3.scale.ordinal().range(colors);
            var area = d3.selectAll('section').append('svg')
                .attr('width', 550)
                .attr('height', 500);
            var pieGroup = area.append('g').attr('transform', 'translate(300, 300)');
            var arc = d3.svg.arc()
                .innerRadius(0)
                .outerRadius(radius);
            var pie = d3.layout.pie()
                .value(function (data) { return data; })
            var arcs = pieGroup.selectAll('.arc')
                .data(pie(data))
                .enter()
                .append('g')
                .attr('class', 'arc');
            arcs.append('path')
                .attr('d', arc)
                .attr('fill', function (d) { return colorScale(d.data); });

            arcs.append('text')
                .attr('transform', function (data) { return 'translate(' + arc.centroid(data) + ')'; })
                .attr('text-anchor', 'middle')
                .attr('font-size', '1em')
                .text(function (data) {
                    return names.pop() + " Total:" + data.value;
                });
        });
        $(function () {
            var data = [];
            var names = [];

            @{Dictionary<string, int> dict2 = ViewData["data2"] as Dictionary<string, int>; }
            @foreach (var a in dict2)
            {
                @:data.push(@a.Value);
                @:names.push("@a.Key");
            }

            var colors = ["#5E0000", "#5EFEEE", "#FF5555"];
            var radius = 200;
            var colorScale = d3.scale.ordinal().range(colors);
            var area = d3.selectAll('p').append('svg')
                .attr('width', 550)
                .attr('height', 550);
            var pieGroup = area.append('g').attr('transform', 'translate(300, 300)');
            var arc = d3.svg.arc()
                .innerRadius(0)
                .outerRadius(radius);
            var pie = d3.layout.pie()
                .value(function (data) { return data; })
            var arcs = pieGroup.selectAll('.arc')
                .data(pie(data))
                .enter()
                .append('g')
                .attr('class', 'arc');
            arcs.append('path')
                .attr('d', arc)
                .attr('fill', function (d) { return colorScale(d.data); });

            arcs.append('text')
                .attr('transform', function (data) { return 'translate(' + arc.centroid(data) + ')'; })
                .attr('text-anchor', 'middle')
                .attr('font-size', '1em')
                .text(function (data) {
                    return names.pop() + " Total:" + data.value;
                });
        });
        $(function () {
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '605635517284237',
                    autoLogAppEvents: true,
                    xfbml: true,
                    version: 'v12.0'
                });
            }
        });

    </script>

    <script type="text/javascript">
        function post() {
            var accessToken = 'EAAIm0oHeZC40BANDdDvdV0ni8Rwsxd8L9B3B0HxEgfxMkZC4X6anouLoRKlPUSqERmZB28ZAkmc5w7McJfhNrq0Po0eSPb0BK0BBX8HpXl3cBZBS3AUlYv0l7eusymAXRjw97Yi2RZCgWG0riQxZCR1Mnpra3fJixHt2iQygIF8eoB0vxOJ7rYCWEFLJWFFhZCqcLU4YMaqnvxq1GF71RSw6';
            //var accessToken = 'EAAIm0oHeZC40BABTfXo16gZBC1vzqPm6Pp0zST0cCQvaIDZB2UpTREVar8YFVBTEy3tJWfxzm2bSancCd0L9UHZCHAQco5n6OYZBSWmHZCP7v7zm37hgO3mZBXW5ZAVFa8tZBJRiVOjaRZBdTMBgA4ujzZCTUZCHAI3scrDCBeNgoj7ntJw7TLGCHRLx2l6o6hDkpBPvCzioSstF0aC9iaUtZAyFX';
            var body = String(document.getElementById("msg").value);
            if (body && body != "") {
                FB.api('/me/feed', 'post', { message: body, access_token: accessToken }, function (response) {
                    if (!response || response.error) {
                        window.alert(JSON.stringify(response.error));
                    } else {
                        window.alert(JSON.stringify(body));
                    }
                });
            }

        }
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js"></script>


</head>
<body>
    <div class="d-flex justify-content-center"><h1 class="text-danger"><cite><u>Admin's Panel</u></cite></h1></div>
    <hr />
    <br />
    <br />
    <div class="text-center ">
        <h2 class="text-warning"><cite><u>Quick Access</u><cite /></h2>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-info"> Instruments </th>
                    <th class="text-info"> Categories </th>
                    <th class="text-info"> Category Images </th>
                    <th class="text-info"> Orders </th>
                    <th class="text-info"> Users </th>
                    <th class="text-info"> Stores </th>
                    <th class="text-info"> Reviews </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="text-light" asp-controller="Instruments" asp-action="Index">Show All Instruments</a></td>
                    <td><a class="text-light" asp-controller="Categories" asp-action="Index">Show All Categories</a></td>
                    <td><a class="text-light" asp-controller="CategoryImages" asp-action="Index">Show All Category Images</a></td>
                    <td><a class="text-light" asp-controller="Orders" asp-action="Index">Show All Orders</a></td>
                    <td><a class="text-light" asp-controller="Users" asp-action="Index">Show All Users</a></td>
                    <td><a class="text-light" asp-controller="Stores" asp-action="Index">Show All Stores</a></td>
                    <td><a class="text-light" asp-controller="Reviews" asp-action="Index">Show All Reviews</a></td>
                </tr>
                <tr>
                    <td><a class="text-light" asp-controller="Instruments" asp-action="Create">Create a new Instrument</a></td>
                    <td><a class="text-light" asp-controller="Categories" asp-action="Create">Create a new Category</a></td>
                    <td><a class="text-light" asp-controller="CategoryImages" asp-action="Create">Create a new Category Image</a></td>
                    <td><a class="text-light" asp-controller="Orders" asp-action="Create">Create a new Order</a></td>
                    <td><a class="text-light" asp-controller="Stores" asp-action="Register">Register a User</a></td>
                    <td><a class="text-light" asp-controller="Stores" asp-action="Create">Open new Store</a>
                    <td><a class="text-light" asp-controller="Instruments" asp-action="Index">Create a new Review</a></td>
                </tr>
            </tbody>
        </table>

        <br />
        <br />

        <div>
            <h2 class="text-warning"><cite><u>Reviews Per Category</u><cite /></h2>
            <table class="table text-center text-light">
                <thead>
                    <tr>
                        <th class="text-info">
                            Categories
                        </th>
                        <th class="text-info">
                            Reviews Count
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (Dictionary<string, int>)ViewBag.counter_)
                    {
                        {
                            <tr>
                                <td class="align-middle">
                                    @item.Key
                                </td>
                                <td class="align-middle">
                                    @item.Value
                                </td>


                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <br />
        <br />

        <div>
            <h2 class="text-warning"><cite><u>Users Orders - Sorted by shipping date</u><cite /></h2>
            <table class="table text-center text-light">
                <thead>
                    <tr>
                        <th class="text-info">
                            User First Name
                        </th>
                        <th class="text-info">
                            User Last Name
                        </th>
                        <th class="text-info">
                            Order Price
                        </th>
                        <th class="text-info">
                            Shipping Date
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<userOrderModel>)ViewBag.items)
                    {
                        {
                            <tr>
                                <td class="align-middle">
                                    @item.UserFName
                                </td>
                                <td class="align-middle">
                                    @item.UserLName
                                </td>
                                <td class="align-middle">
                                    @item.Price
                                </td>
                                <td class="align-middle">
                                    @item.Shipping
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <br />
        <br />

        <div>
            <h2 class="text-warning"><cite><u>Post to <a class="text-warning" href="https://www.facebook.com/Instrumusicals-100896432413118">Instrumusicals' Facebook</a></u><cite /></h2>
            <br />
            <div class="row justify-content-center">
                <div class="w-50">
                    <form>
                        <div class="form-group">
                            <input type="text" id="msg" style="border-radius:100px;" autocomplete="off"
                                   class="form-control bg-dark text-light text-center border border-light border-3"
                                   placeholder="Enter some content to Facebook by Instrumusicals' name..." />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary border border-light border-1 m-3" id="btn-post" onclick="post()"
                                    style="border-radius:100px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                                </svg>
                                Post
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <br />
        <br />

        <div>
            <h2 class="text-warning"><cite><u>Instrumusical Statistics</u><cite /></h2>
            
            <section>
            </section>

            <br/>
            <h4 class="text-info">Store Value by Categories</h4>
            <p>
            </p>
            <h4 class="text-info"></h4>
        </div>
    </div>

</body>