@model Instrumusicals.Models.User

@{
    ViewData["Title"] = "Admin's Panel";

}

<head>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            var data = [];
            var names = [];

            @{Dictionary<string, int> dict = ViewData["data"] as Dictionary<string, int>; }
            @foreach (var a in dict)
            {
                @:data.push(@a.Value);
                @:names.push("@a.Key");
            }

            var colors = ["#FF5733", "#5EFAB1", "#5E65FA"];
            var radius = 200;
            var colorScale = d3.scale.ordinal().range(colors);
            var area = d3.selectAll('section').append('svg')
                .attr('width', 550)
                .attr('height', 500);
            var pieGroup = area.append('g').attr('transform', 'translate(300, 300)');
            var arc = d3.svg.arc()
                .innerRadius(0)
                .outerRadius(radius);
            var pie = d3.layout.pie()
                .value(function (data) { return data; })
            var arcs = pieGroup.selectAll('.arc')
                .data(pie(data))
                .enter()
                .append('g')
                .attr('class', 'arc');
            arcs.append('path')
                .attr('d', arc)
                .attr('fill', function (d) { return colorScale(d.data); });

            arcs.append('text')
                .attr('transform', function (data) { return 'translate(' + arc.centroid(data) + ')'; })
                .attr('text-anchor', 'middle')
                .attr('font-size', '1em')
                .text(function (data) {
                    return names.pop() + " Total:" + data.value;
                });
        });
        $(function () {
            var data = [];
            var names = [];

            @{Dictionary<string, int> dict2 = ViewData["data2"] as Dictionary<string, int>; }
            @foreach (var a in dict2)
            {
                @:data.push(@a.Value);
                @:names.push("@a.Key");
            }

            var colors = ["#5E0000", "#5EFEEE", "#FF5555"];
            var radius = 200;
            var colorScale = d3.scale.ordinal().range(colors);
            var area = d3.selectAll('p').append('svg')
                .attr('width', 550)
                .attr('height', 550);
            var pieGroup = area.append('g').attr('transform', 'translate(300, 300)');
            var arc = d3.svg.arc()
                .innerRadius(0)
                .outerRadius(radius);
            var pie = d3.layout.pie()
                .value(function (data) { return data; })
            var arcs = pieGroup.selectAll('.arc')
                .data(pie(data))
                .enter()
                .append('g')
                .attr('class', 'arc');
            arcs.append('path')
                .attr('d', arc)
                .attr('fill', function (d) { return colorScale(d.data); });

            arcs.append('text')
                .attr('transform', function (data) { return 'translate(' + arc.centroid(data) + ')'; })
                .attr('text-anchor', 'middle')
                .attr('font-size', '1em')
                .text(function (data) {
                    return names.pop() + " Total:" + data.value;
                });
        });
        $(function () {
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '605635517284237',
                    autoLogAppEvents: true,
                    xfbml: true,
                    version: 'v12.0'
                });
            }
        });

    </script>
    
    <script type="text/javascript">
        function post() {
            var accessToken = 'EAAIm0oHeZC40BAP1aypOdDbznjEHE336dPZAygdj6srB0gBFqW6ic3gEWVZAPOjSg5lbXfeoGvJoEHxuCOcZBOi5H6FVHhH70mW0VWB2VlOzuztMEFNTfNT9O8AaIYkuo4QE7jZAHFp0LANBqyPr9SrTEVtxSfq7KX29GskJimooHk4GUuKtpCcejsFbheOKK6ZBUsGc4YqD06YzfllKwd';
            var body = String(document.getElementById("msg").value);
            if (body && body != "") {
                FB.api('/me/feed', 'post', { message: body, access_token: accessToken }, function (response) {
                    if (!response || response.error) {
                        window.alert(JSON.stringify(response.error));
                    } else {
                        window.alert(JSON.stringify(body));
                    }
                });
            }

        }
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js"></script>


</head>
<body>
    <div class="d-flex justify-content-center"><h1 class="text-danger"><cite><u>Admin's Panel</u></cite></h1></div>
    <br />
    <br />
    <div class="text-center ">
        <h2 class="text-warning"><cite><u>Quick Access</u><cite /></h2>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-info"> Instruments </th>
                    <th class="text-info"> Categories </th>
                    <th class="text-info"> Category Images </th>
                    <th class="text-info"> Orders </th>
                    <th class="text-info"> Users </th>
                    <th class="text-info"> Stores </th>
                    <th class="text-info"> Reviews </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="text-light" asp-controller="Instruments" asp-action="Index">Show All Instruments</a></td>
                    <td><a class="text-light" asp-controller="Categories" asp-action="Index">Show All Categories</a></td>
                    <td><a class="text-light" asp-controller="CategoryImages" asp-action="Index">Show All Category Images</a></td>
                    <td><a class="text-light" asp-controller="Orders" asp-action="Index">Show All Orders</a></td>
                    <td><a class="text-light" asp-controller="Users" asp-action="Index">Show All Users</a></td>
                    <td><a class="text-light" asp-controller="Stores" asp-action="Index">Show All Stores</a></td>
                    <td><a class="text-light" asp-controller="Reviews" asp-action="Index">Show All Reviews</a></td>
                </tr>
                <tr>
                    <td><a class="text-light" asp-controller="Instruments" asp-action="Create">Create a new Instrument</a></td>
                    <td><a class="text-light" asp-controller="Categories" asp-action="Create">Create a new Category</a></td>
                    <td><a class="text-light" asp-controller="CategoryImages" asp-action="Create">Create a new Category Image</a></td>
                    <td><a class="text-light" asp-controller="Orders" asp-action="Create">Create a new Order</a></td>
                    <td><a class="text-light" asp-controller="Stores" asp-action="Register">Register a User</a></td>
                    <td><a class="text-light" asp-controller="Stores" asp-action="Create">Open new Store</a>
                    <td><a class="text-light" asp-controller="Instruments" asp-action="Index">Create a new Review</a></td>
                </tr>
            </tbody>
        </table>

        <br />
        <br />

        <div>
            <h3>Reviews Per Category</h3>
            <table class="table text-center text-light">
                <thead>
                    <tr>
                        <th>
                            Categories
                        </th>
                        <th>
                            Reviews Count
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (Dictionary<string, int>)ViewBag.counter_)
                    {
                        {
                            <tr>
                                <td class="align-middle">
                                    @item.Key
                                </td>
                                <td class="align-middle">
                                    @item.Value
                                </td>
                               

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <br />
        <br />

        <div>
            <h3>Users Orders - Sorted by shipping date</h3>
            <table class="table text-center text-light">
                <thead>
                    <tr>
                        <th>
                            User First Name
                        </th>
                        <th>
                            User Last Name
                        </th>
                        <th>
                            Order Price
                        </th>
                        <th>
                            Shipping Date
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<userOrderModel>)ViewBag.items)
                    {
                        {
                            <tr>
                                <td class="align-middle">
                                    @item.UserFName
                                </td>
                                <td class="align-middle">
                                    @item.UserLName
                                </td>
                                <td class="align-middle">
                                    @item.Price
                                </td>
                                <td class="align-middle">
                                    @item.Shipping
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <br />
        <br />
        <div>
            <h2 class="text-warning"><cite><u>Instrumusical Statistics</u><cite /></h2>
            <section>
            </section>
            <p>
            </p>
        </div>
        <div>
            <form>
                <label>Enter Text:</label>
                <input type="text" id="msg" /><br><br>
                <button id="btn-post" onclick="post()">Post to Facebook page</button>
            </form>
        </div>
    </div>


</body>