@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/customFont.css" type="text/css" />
<div id="homeContainer" class="container justify-content-center">
    <div class="d-flex justify-content-center text-center">
        <div id="leftAdide" class="bg-black w-25 border border-5 border-secondary" style="border-radius: 100px; overflow: scroll; height: 72vh;">
            <h5 class="m-3">Top Sellers Albums</h5>
            <ol>
                @foreach (var item in (List<TopTenItem>)ViewBag.TopAlbums)
                {
                    <li class="align-middle">
                        <div>
                            <img src="@item.Case3D" width="100" height="100"><br>
                            <a class="custom-font">Album: @item.AlbumName</a><br>
                            <a class="custom-font">Artist: @item.ArtistName</a><br>
                            <a class="custom-font">Year Released: @item.YearReleased</a><br>
                            <a class="custom-font">Genre: @item.Style</a><br>
                            <a class="custom-font">Sales: @item.Sales</a>
                        </div>
                    </li>
                }
            </ol>
        </div>

        <div id="homeContent" class="w-50 bg-dark p-3" style="width:80%; height:72vh; overflow: scroll;">
            <div class="row justify-content-center">
                <div class="d-flex justify-content-center">
                    <img id="testImg" src="~/Images/Instrumusicals-logos.jpeg" style="width:80%; border-radius:100px; border: 5px solid darkblue" />
                </div>

                <div style="height:50px;"></div>
                @if (ViewBag.BestSellers != null)
                {
                    <h3 class="text-warning"><cite>BestSellers</cite></h3>
                    <div class="d-flex text-center w-75 justify-content-center" style="height:150px;">
                        @foreach (Instrument inst in ViewBag.BestSellers)
                        {@if (inst.Image != null)
                            {
                                string img = Convert.ToBase64String(inst.Image);
                                <div class="align-middle m-3">
                                    <a href="/Instruments/Details/@inst.Id"><img class="d-block" src="data:image/png;base64,@img" alt="@inst.Name" style="height:100px; width:100px; border-radius:100px; border: 3px solid white" /></a>
                                </div>
                            }
                    }
                    </div>
                }

                <div style="height:50px;"></div>
                @if (ViewBag.MostReviewed != null)
                {
                    <h3 class="text-warning"><cite>Most Reviewed</cite></h3>
                    <div class="d-flex text-center w-75 justify-content-center" style="height:150px;">
                        @foreach (Instrument inst in ViewBag.MostReviewed)
                        {@if (inst.Image != null)
                            {
                                string img = Convert.ToBase64String(inst.Image);
                                <div class="align-middle m-3">
                                    <a href="/Instruments/Details/@inst.Id"><img class="d-block" src="data:image/png;base64,@img" alt="@inst.Name" style="height:100px; width:100px; border-radius:100px; border: 3px solid white" /></a>
                                </div>
                            }
                    }
                    </div>
                }
            </div>
        </div>

        <div id="rightAdide" class="bg-black w-25 border border-5 border-secondary" style="border-radius:100px;">
            <div class="d-flex justify-content-center text-center">
                <div class="row justify-content-center">
                    <h5 class="m-3"><a class="text-light" href="https://www.youtube.com/c/nprmusic"><cite>NPR Music</cite></a></h5>
                    <div class="d-flex justify-content-center  mt-4 w-75">
                        <iframe id="youTubeVideo" class="w-100 border border-3 border-light" src="https://www.youtube.com/embed/ferZnZ0_rSM" style="height:100%; border-radius:50px;"></iframe>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <h5 class="mt-5 text-light"><cite>Notes of our lives</cite></h5>
                <div class="d-flex justify-content-center w-75">
                    <canvas id="notesCanvas" width=172 height=82 class="border bg-secondary border-3 border-white" style="border-radius:100px;"></canvas>
                </div>
                <a class="btn text-success" style="border-radius:100px;" id="btnPlayCanvas">PLAY</a>

            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="~/js/Home/Notes.js"></script>
}