@model IEnumerable<Instrumusicals.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center text-light"><h1><cite>Instrumusicals' Reviews</cite></h1></div>
<div class="text-center"><a asp-controller="Instruments" asp-action="Index">Choose an Instrument & Review</a></div>
<table class="table text-light text-center">
    <thead>
        <tr>
            <th class="text-info">
                @Html.DisplayNameFor(model => model.Instrument)
            </th>
            <th class="text-info">
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th class="text-info">
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="text-light" asp-action="Details" asp-controller="Instruments" asp-route-id="@item.InstrumentId">
                    <cite>@Html.DisplayFor(modelItem => item.Instrument.Name)</cite>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a class="text-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
