@model Instrumusicals.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center text-center">
    <div class="w-50">
        <h3>Edit @Model.User.FirstName's Order</h3>
        <br />
        <a class="text-secondary" asp-action="Profile" asp-controller="Users">My Profile</a> | 
        <a class="text-secondary" asp-action="Index" asp-controller="Home">Homepage</a> 
    </div>
</div>

<div class="row justify-content-center text-center m-3">
    <div class="w-75">
        <table class="table text-light text-center">
            <thead>
                <th class="text-info">Owner</th>
                <th class="text-info">Price</th>
                <th class="text-info">Instruments</th>
                <th class="text-info">Created</th>
                <th class="text-info">Shipping</th>
            </thead>
            <tbody>
            <td>@Model.User.FirstName @Model.User.LastName</td>
                <td>@Model.TotalPrice</td>
                <td>@Model.Instruments.Count()</td>
                <td>@Model.Create</td>
                <td>@Model.Shipping</td>
            </tbody>
        </table>
    </div>
    <div class="w-50">
        <form action="Edit">
            <div class="form-group">
                <input class="form-control" type="hidden" asp-for="Id"/>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="form-control bg-dark text-light text-center border-0"></label>
                <input asp-for="Address" class="form-control bg-dark text-light text-center" style="border-radius:100px;" />
            </div>
            <div class="">

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
