@model Instrumusicals.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center text-center">
    <div class="w-50">
        <h3>Edit <a class="text-light" asp-action="Details" asp-route-id="@Model.Id">@Model.User.FirstName's Order</a></h3>
        <a class="text-secondary" asp-action="Profile" asp-controller="Users">My Profile</a> | 
        <a class="text-secondary" asp-action="Index" asp-controller="Home">Homepage</a> 
    </div>
</div>

<div class="row justify-content-center text-center m-3">
    <div class="w-75">
        <table class="table text-light text-center">
            <thead>
                <tr>
                    <th class="text-info">Owner</th>
                    <th class="text-info">Total Price</th>
                    <th class="text-info">Instruments</th>
                    <th class="text-info">Created</th>
                    <th class="text-info">Shipping</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.User.FirstName @Model.User.LastName</td>
                    <td>@String.Format("{0:n}", Model.TotalPrice)$</td>
                    <td>@Model.Instruments.Count()</td>
                    <td>@Model.Create</td>
                    <td>@Model.Shipping</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-50">
        <form action="Edit">
            <div class="form-group">
                <input class="form-control" type="hidden" asp-for="Id"/>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="form-control bg-dark text-light text-center border-0"></label>
                <input asp-for="Address" class="form-control bg-dark text-light text-center" style="border-radius:100px;" />
            </div>
            <div class="form-group justify-content-center m-3">
                <input type="submit" value="Update" class="btn text-success border border-success" style="border-radius:100px;" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
