@model IEnumerable<Instrumusicals.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Instrumusicals' Orders</h1>
    <p>
        <a class="text-light" asp-action="Index" asp-controller="Home">Homepage</a> 
        <br /> 
        <a class="text-secondary" asp-action="Index" asp-controller="Instruments">Instruments</a> | 
        <a class="text-secondary" asp-action="Cart" asp-controller="Users">Cart</a> 
    </p>
</div>

<table class="table text-center text-light">
    <thead>
        <tr>
            <th class="text-info">
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th class="text-info">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="text-info">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th class="text-info">
                @Html.DisplayNameFor(model => model.Create)
            </th>
            <th class="text-info">
                @Html.DisplayNameFor(model => model.Shipping)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.User.FirstName @item.User.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Create)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipping)
                </td>
                <td>
                    <a class="text-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="text-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
