@model IEnumerable<Instrumusicals.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<div class="row text-center justify-content-center">
    <div class="w-50">
        <h1>Instrumusicals' Categories</h1>
        @if (Context.User.IsInRole("Admin"))
        { <a class="btn border border-success text-success m-3" asp-action="Create" style="border-radius:100px;">New</a> }
    </div>
</div>
<div class="row">
    @foreach (Category category in Model)
    {
    <div class="card m-2 bg-dark border border-primary col col-md-5 col-lg-6" style="width: 18rem; border-radius:15px;">
        @if (category.CategoryImage != null && category.CategoryImage.Image != null)
        {
            string img = Convert.ToBase64String(category.CategoryImage.Image);
            <img src="data:image/png;base64,@img" class="m-1" style="border-radius:25px;" />
        } else { <div class="d-flex justify-content-center"><span class="text-danger m-2"> No Available Image</span></div>}
        <div class="card-body bg-dark text-center">
            <div id="header" class="d-flex text-center justify-content-center">
                <h5 class="card-title">
                    <cite>
                        <a class="text-info" asp-action="Details" asp-route-id="@category.Id">
                            @category.Name
                        </a>
                    </cite>
                </h5>
            </div>
            <div id="content" class="text-center">
                <div id="instrumentsCount">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note text-warning" viewBox="0 0 16 16">
                        <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z" />
                        <path fill-rule="evenodd" d="M9 3v10H8V3h1z" />
                        <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z" />
                    </svg> @category.Instruments.Count()  Instruments
                </div>
            </div>
            <div id="footer" class="row text-center justify-content-center m-2">
                <div class="w-75">
                    <a href="/Categories/Details/@category.Id" class="btn text-success border border-success btn-sm m-3" style="border-radius:100px;">check it out</a>
                </div>
                @if (Context.User.IsInRole("Admin"))
                {
                    <div>
                        
                        <a asp-action="Edit" asp-route-id="@category.Id" class="text-warning">Edit</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@category.Id" class="text-danger">Delete</a>
                    </div>
                }
            </div>
        </div>
    </div>
    }
</div>

